nav .logo {
    float: left;
}

.nav-item, .dropdown-item {
    list-style-type: none;
}

.myNav {
    display: flex;
}

.navbar {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
}

.nav-link {
    float: left;
    display: inline;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.myNav .nav-link:hover {
    background-color: ghostwhite;
}

.myNav .nav-link.active {
    background-color: ghostwhite;
}

.myNav .icon {
    display: none;
}